<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Bibliotheek{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/js/script.js"></script>
</head>
<body>
{% block login %}
<button class="login-btn">Log in</button>
<input type="text" placeholder="Search..." />
{% endblock %}



{% block content %}
{% endblock %}

<footer>
    {% block footer %}
    {% endblock %}
</footer>
</body>
</html>
