<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Bibliotheek{% endblock %}</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
<btn> Log in </btn>
<input type="text" placeholder="Search..." />
    {% block content %}{% endblock %}
    <footer>
        {% block footer %}{% endblock %}
    </footer>
</body>
</html>
