{% extends 'base.html.twig' %}

{% block title %}{{ genre }} - Bibliotheek{% endblock %}

{% block content %}
    <h1>{{ genre }}</h1>
    <p>Boeken in dit genre verschijnen later.</p>
    <a href="{{ path('homepage') }}" class="btn btn-secondary">Terug naar homepage</a>
{% endblock %}
