<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Bibliotheek Homepage{% endblock %}</title>
</head>

<body>
    <h1>Welkom bij de Bibliotheek</h1>
    <p>Ontdek onze collectie boeken, tijdschriften en meer!</p>
</body>

<footer>

</footer>
</html>