{% extends 'base.html.twig' %}

{% block title %}Bibliotheek Homepage{% endblock %}

{% block content %}
    <h1>Welkom bij de Bibliotheek</h1>
    <p>Ontdek onze collectie boeken, tijdschriften en meer!</p>
{% endblock %}

{% block footer %}
    <p>&copy; 2023 Bibliotheek</p>
{% endblock %}
